* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$primary-green: #016f52;
$primary-blue: #1a77a3;
$primary-blue2: #1a77a3;
$primary-grey: #e5e5e5;
$primary-light-green: #81d2bc;
$primary-light-blue: #d7e8ef;
$black: #000;
$white: #fff;
$title-colors: #140a32;
$green: #33836e;

@font-face {
  font-family: "Open sans", sans-serif;
  src: url("../fonts/OpenSans-Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Open sans", sans-serif;
  src: url("../fonts/OpenSans-Regular.woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Open sans", sans-serif;
  src: url("../fonts/OpenSans-SemiBold.woff2");
  font-weight: bolder;
}

html {
  font-size: 10px;
  h1,
  h2,
  h3,
  h4 {
    font-family: "Open sans", sans-serif;
    font-weight: bold;
    color: $title-colors;
  }
}

.container {
  max-width: 144rem;
  margin-inline: auto;
  padding-inline: 15rem;
}

.help {
  margin-top: 8rem;
}
.help-title {
  margin-bottom: 3rem;
  color: $title-colors;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.96px;
}
.help-cards-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(30rem, 1fr));
  gap: 2rem;
}
.help-card {
  padding: 3rem;
  display: flex;
  align-items: center;
  border-radius: 2rem;
  border: 1px solid rgba(47, 43, 67, 0.15);
}
.help-card-img {
  padding: 3.5rem;
  border-radius: 50%;
  margin-right: 2rem;
  background: #ebf2f0;
}
.card-text {
  color: $title-colors;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.why-us {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  h2 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.96px;
    margin-block: 2.9rem 2rem;
  }
  p {
    color: $title-colors;
    font-family: " Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
  }
}

.stats {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  margin-top: 3rem;
}
.stats-item {
  color: $title-colors;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 400;
  margin-left: 4rem;
  span {
    display: block;
    color: $primary-green;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.84px;
    margin-bottom: 1rem;
  }
  img {
    margin-left: 2rem;
  }
}
.stats-item:first-child {
  margin-left: 0;
}

.contact-wrapper {
  display: flex;
  align-items: center;
  background-color: $green;
  justify-content: space-between;
  padding: 3rem 5.5rem;
  border-radius: 2rem;
  color: $white !important;
  h2 {
    color: $white;
    font-family: Open Sans;
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
  }
  .contact-tel {
    font-size: 4.2rem;
    font-weight: 700;
    letter-spacing: -1.26px;
  }
}
.order-call {
  h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1.6rem;
    text-align: left;
  }
  input {
    padding: 1.6rem;
    border-radius: 1rem;
    background-color: $white;
    outline: none;
    border: none;
  }

  button {
    padding: 1.6rem 3.6rem;
    background-color: transparent;
    border-radius: 1rem;

    border: 1px solid $white;
    color: $white;
    color: var(--base-white, #fff);
    font-size: 1.6rem;
    cursor: pointer;
    margin-left: 1.5rem;
    font-weight: 600;
  }
  p {
    color: rgba(255, 255, 255, 0.5);
    font-family: $main-font;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 2.2rem;
    a {
      color: rgba(255, 255, 255, 0.5);
      font-size: 1.2rem;
      font-weight: 600;
      text-decoration-line: underline;
    }
  }
}


.specials-card-wrapper{
    display: grid;
    grid-template-columns: repeat(2, minmax(30rem, 1fr));

    gap: 2rem;
}

.specials-card {
    border-radius: 20px;
border: 1px solid  rgba(47, 43, 67, 0.15);
}
.spec-card-title {
}