* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Open sans", sans-serif;
  src: url("../fonts/OpenSans-Bold.woff2");
  font-weight: bold;
}
@font-face {
  font-family: "Open sans", sans-serif;
  src: url("../fonts/OpenSans-Regular.woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Open sans", sans-serif;
  src: url("../fonts/OpenSans-SemiBold.woff2");
  font-weight: bolder;
}
html {
  font-size: 10px;
}
html h1,
html h2,
html h3,
html h4 {
  font-family: "Open sans", sans-serif;
  font-weight: bold;
  color: #140a32;
}

html {
  font-size: 10px;
}

.container {
  max-width: 144rem;
  margin-inline: auto;
  padding-inline: 15rem;
}

a {
  text-decoration: none;
}

.btn {
  outline: none;
  border: 0;
}

.header {
  width: 100%;
  padding-top: 4rem;
}

.header-primary {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-form {
  display: flex;
  position: relative;
  width: 42rem;
}
.header-form input {
  width: 100%;
  padding: 1.4rem 2rem;
  background-color: rgba(47, 43, 67, 0.04);
  font-size: 1.6rem;
  border: 0;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  outline: none;
}
.header-form input::-moz-placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(47, 43, 67, 0.4);
}
.header-form input::placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(47, 43, 67, 0.4);
}
.header-form img {
  position: absolute;
  right: 2rem;
  top: 1.4rem;
  cursor: pointer;
}

.header-quiz-btn {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #33836e;
  color: #fff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.header-contact {
  display: flex;
  flex-direction: column;
}
.header-contact .header-contact-number {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 2.7rem;
}
.header-contact .header-contact-info {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  color: rgba(47, 43, 67, 0.5);
}

.header-secondary {
  margin-top: 3.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-connection-btns {
  display: flex;
  gap: 1.5rem;
}
.header-connection-btns .btn {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
  border: 1px solid rgba(47, 43, 67, 0.15);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.header-connection-btns .btn span {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-nav .header-nav-list {
  display: flex;
  gap: 3rem;
  list-style: none;
}
.header-nav .header-nav-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.header-login {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.header-sublink {
  display: block;
  margin-top: 5rem;
}
.header-sublink a {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: rgba(47, 43, 67, 0.5);
}

.hero {
  display: flex;
  align-items: center;
  gap: 10.6rem;
}

.hero-title {
  font-size: 3.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.14px;
}

.hero-description {
  margin-top: 1.5rem;
  width: 90%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.hero-connection {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.hero-connection .btn {
  background-color: #33836e;
  padding: 1.8rem 3.6rem;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.hero-contact {
  display: grid;
  gap: 0.7rem;
}
.hero-contact .hero-contact-number {
  color: #33836e;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: normal;
}
.hero-contact .hero-contact-info {
  color: rgba(47, 43, 67, 0.5);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: normal;
}

.hero-features-list {
  margin-top: 4rem;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.hero-features-list li {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hero-features-list li span {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lagacy-support {
  margin-top: 10rem;
}

.lagacy-title {
  color: var(--base-black, #140a32);
  font-family: Open Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
}

.lagacy-description {
  margin-top: 2rem;
  color: var(--base-black, #140a32);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.help {
  margin-top: 8rem;
}

.help-title {
  margin-bottom: 3rem;
  color: #140a32;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.96px;
}

.help-cards-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(30rem, 1fr));
  gap: 2rem;
}

.help-card {
  padding: 3rem;
  display: flex;
  align-items: center;
  border-radius: 2rem;
  border: 1px solid rgba(47, 43, 67, 0.15);
}

.help-card-img {
  padding: 3.5rem;
  border-radius: 50%;
  margin-right: 2rem;
  background: #ebf2f0;
}

.card-text {
  color: #140a32;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.why-us {
  margin-top: 8rem;
  display: flex;
  align-items: center;
}
.why-us h2 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.96px;
  margin-block: 2.9rem 2rem;
}
.why-us p {
  color: #140a32;
  font-family: " Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.stats {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  margin-top: 3rem;
}

.stats-item {
  color: #140a32;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 400;
  margin-left: 4rem;
}
.stats-item span {
  display: block;
  color: #33836e;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.84px;
  margin-bottom: 1rem;
}
.stats-item img {
  margin-left: 2rem;
}

.stats-item:first-child {
  margin-left: 0;
}

.contact-wrapper {
  display: flex;
  align-items: center;
  background-color: #33836e;
  justify-content: space-between;
  padding: 3rem 5.5rem;
  border-radius: 2rem;
  color: #fff !important;
}
.contact-wrapper h2 {
  color: #fff;
  font-family: Open Sans;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}
.contact-wrapper .contact-tel {
  font-size: 4.2rem;
  font-weight: 700;
  letter-spacing: -1.26px;
}

.order-call h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 1.6rem;
  text-align: left;
}
.order-call input {
  padding: 1.6rem;
  border-radius: 1rem;
  background-color: #fff;
  outline: none;
  border: none;
}
.order-call button {
  padding: 1.6rem 3.6rem;
  background-color: transparent;
  border-radius: 1rem;
  border: 1px solid #fff;
  color: #fff;
  color: var(--base-white, #fff);
  font-size: 1.6rem;
  cursor: pointer;
  margin-left: 1.5rem;
  font-weight: 600;
}
.order-call p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 2.2rem;
}
.order-call p a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration-line: underline;
}

.specials-card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(30rem, 1fr));
  gap: 2rem;
}

.specials-card {
  border-radius: 20px;
  border: 1px solid rgba(47, 43, 67, 0.15);
  padding: 2rem;
}
.specials-card h2 {
  color: #140a32;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  border-bottom: 0.1rem solid #33836e;
  margin-left: 1.5rem;
}
.specials-card p {
  margin-top: 1.5rem;
  color: rgba(47, 43, 67, 0.7);
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

.spec-card-title {
  display: flex;
  align-items: center;
}

.ask-call-section {
  margin-top: 8rem;
}

.ask-call {
  border-radius: 20px;
  background: var(--gray-background, rgba(47, 43, 67, 0.04));
  display: flex;
  align-items: center;
}
.ask-call h2 {
  color: #140a32;
  font-family: "Open Sans";
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: -0.96px;
  margin-left: 5rem;
}
.ask-call form {
  display: flex;
}
.ask-call input {
  padding: 1.6rem;
  border-radius: 1rem;
  background-color: #fff;
  outline: none;
  border: none;
}
.ask-call button {
  padding: 1.6rem 3.6rem;
  background-color: #33836e;
  border-radius: 1rem;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
  margin-left: 1.5rem;
  font-weight: 600;
}
.ask-call p {
  color: rgba(47, 43, 67, 0.4);
  font-family: "Open Sans";
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 2rem;
}

.seo {
  margin-top: 8rem;
}
.seo h2 {
  color: #140a32;
  font-family: "Open Sans";
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: -0.96px;
  margin-bottom: 2rem;
}
.seo p {
  color: #140a32;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.seo button {
  padding: 1.6rem;
  border-radius: 1rem;
  border: none;
  color: #33836e;
  background: #E0ECE9;
  width: 100%;
  margin-top: 3rem;
  gap: 10px;
}

a {
  text-decoration: none;
}

.btn {
  outline: none;
  border: 0;
}

.header {
  width: 100%;
  padding-top: 4rem;
}

.header-primary {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-form {
  display: flex;
  position: relative;
  width: 42rem;
}
.header-form input {
  width: 100%;
  padding: 1.4rem 2rem;
  background-color: rgba(47, 43, 67, 0.04);
  font-size: 1.6rem;
  border: 0;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  outline: none;
}
.header-form input::-moz-placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(47, 43, 67, 0.4);
}
.header-form input::placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(47, 43, 67, 0.4);
}
.header-form img {
  position: absolute;
  right: 2rem;
  top: 1.4rem;
}

.header-quiz-btn {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #33836e;
  color: #fff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.header-contact {
  display: flex;
  flex-direction: column;
}
.header-contact .header-contact-number {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 2.7rem;
}
.header-contact .header-contact-info {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  color: rgba(47, 43, 67, 0.5);
}

.header-secondary {
  margin-top: 3.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-connection-btns {
  display: flex;
  gap: 1.5rem;
}
.header-connection-btns .btn {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
  border: 1px solid rgba(47, 43, 67, 0.15);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.header-connection-btns .btn span {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-nav .header-nav-list {
  display: flex;
  gap: 3rem;
  list-style: none;
}
.header-nav .header-nav-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.header-login {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.header-sublink {
  display: block;
  margin-top: 5rem;
}
.header-sublink a {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: rgba(47, 43, 67, 0.5);
}/*# sourceMappingURL=main.css.map */